# Env exampleAPP_ENV=development
APP_ENV=development
API_GATEWAY_PORT=8080

TICKET_SERVICE_PORT=9091
TICKET_SERVICE_GRPC_ADDR=localhost:9091
POSTGRES_DSN=host=localhost user=postgres password=postgres dbname=go_ticket_mini port=5432 sslmode=disable TimeZone=Asia/Ho_Chi_Minh